[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[user]
	name = Ali Ayhan Gunder
	email = gunderaliayhan@gmail.com
[credential]
	helper = "!f() { /root/.vscode-server/bin/7d842fb85a0275a4a8e4d7e040d2625abbf7f084/node /tmp/vscode-remote-containers-50f9f97a-ee4a-4cd3-aa6b-1237890927ef.js git-credential-helper $*; }; f"
